{{#if display.hour}}
<div class="ui-calendar-hour">
  <input type="text" value="{{hour}}" data-input="hour"/>
</div>
{{/if}}
{{#if display.minute}}
{{#if display.hour}}
  <span class="ui-calendar-time-delimiter"> : </span>
{{/if}}
<div class="ui-calendar-minute">
  <input type="text" value="{{minute}}" data-input="minute"/>
</div>
{{/if}}
{{#if display.second}}
{{#if display.minute}}
  <span class="ui-calendar-time-delimiter"> : </span>
{{/if}}
<div class="ui-calendar-second">
  <input type="text" value="{{second}}" data-input="second"/>
</div>
{{/if}}
